# Maven
data/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# UI
advent-ui/dist/
advent-ui/node/
advent-ui/node_modules/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Eclipse
.settings/
.project
.classpath

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
